<div ng-cloak>
    <div class="row">
        <div class="text-center col-md-12">
            <h1 ng-hide="vm.isAuthenticated()" data-translate="home.title">Welcome to feeddit!</h1>

            <div ng-if="loggedOut" class="alert alert-success">
                    You have successfully logged out!
            </div>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <span ui-sref-active="active">
                <a href="" ng-hide="vm.isAuthenticated()" ng-click="vm.login()" id="login">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    <span data-translate="global.menu.account.login">Sign in</span>
                </a>
            </span>

            <div ng-show="vm.isAuthenticated() && vm.posts.length > 0">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button class="btn btn-primary" ui-sref="home.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="post.home.createLabel">
                        Create new Post
                    </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>

                <di v class="table-responsive">
                    <table class="jh-table table">
                        <tbody>
                        <tr ng-repeat="post in vm.posts track by post.id">

                            <td>{{post.numberOfUpvotes}}</td>
                            <td>
                                <a href="{{post.postURL}}">{{post.headline}}</a>
                                <br/>
                                {{post.authorName}}
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-hand-up"></span>
                                <span class="glyphicon glyphicon-hand-down"></span>
                            </td>

                            <!--<td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="post-detail({id:post.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="post.edit({id:post.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="post.delete({id:post.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                  <!--  <div class="form-group">
                        <label class="control-label" data-translate="feedditApp.post.numberOfUpvotes" for="field_numberOfUpvotes">Number Of Upvotes</label>
                        <input type="number" class="form-control" name="numberOfUpvotes" id="field_numberOfUpvotes"
                               ng-model="vm.post.numberOfUpvotes"
                        />
                    </div>-->
            </div>

            <span ng-show="vm.posts.length == 0 && vm.isAuthenticated()">
                No posts added yet!
            </span>
    </div>
</div>
