<div ng-cloak>
    <div class="row">
        <div class="text-center col-md-12">
            <h1 ng-hide="vm.isAuthenticated()" data-translate="home.title">Welcome to feeddit!</h1>

            <alert ng-if="loggedOut" class="col-md-12 alert alert-success" dismiss-on-timeout="2000">
                You have successfully logged out!
            </alert>

            <alert ng-if="downVoted" class="col-md-12 alert alert-success" dismiss-on-timeout="2000" class="alert alert-success">
                Post downvoted!
            </alert>

            <alert ng-if="upVoted" class="col-md-12 alert alert-success" dismiss-on-timeout="2000" class="alert alert-success">
                Post upvoted!
            </alert>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register"
                     translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <span ui-sref-active="active">
                <a href="" ng-hide="vm.isAuthenticated()" ng-click="vm.login()" id="login">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    <span data-translate="global.menu.account.login">Sign in</span>
                </a>
            </span>

            <div ng-show="vm.isAuthenticated()">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button class="btn btn-primary" ui-sref="home.new">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="post.home.createLabel">
                        Create new Post
                    </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>

                <div ng-show="vm.isAuthenticated() && vm.posts.length > 0" class="table-responsive">
                    <form class="form-inline">
                        <div class="col-xs-2 form-group">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <table class="jh-table table">
                        <thead>
                        <tr>
                            <th class="text-center" ng-click="sort('numberOfUpvotes')">Upvotes
                                <span class="glyphicon sort-icon" ng-show="sortKey=='numberOfUpvotes'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center" ng-click="sort('headline')">Headline
                                <span class="glyphicon sort-icon" ng-show="sortKey=='headline'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center">
                                <select ng-model="items">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="post in vm.posts|orderBy:sortKey:reverse|filter:search|itemsPerPage:items">

                            <td>{{post.numberOfUpvotes}}</td>
                            <td>
                                <a href="{{post.postURL}}">{{post.headline}}</a>
                                <br/>
                                {{post.authorName}}
                            </td>
                            <div>
                                    <td>
                                        <a ng-click="upVote(post.id)" class="glyphicon glyphicon-hand-up"></a>
                                        <a ng-click="downVote(post.id)" class="glyphicon glyphicon-hand-down"></a>
                                    </td>
                            </div>

                            <!--<td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="post-detail({id:post.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="post.edit({id:post.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="post.delete({id:post.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"
                        max-size="itemsPerPage">
                    </dir-pagination-controls>
                </div>
                <!--  <div class="form-group">
                      <label class="control-label" data-translate="feedditApp.post.numberOfUpvotes" for="field_numberOfUpvotes">Number Of Upvotes</label>
                      <input type="number" class="form-control" name="numberOfUpvotes" id="field_numberOfUpvotes"
                             ng-model="vm.post.numberOfUpvotes"
                      />
                  </div>-->
            </div>

            <span class="col-md-12 alert alert-danger" ng-show="vm.showNoPostsMessage">
                No posts added yet!
            </span>
        </div>
    </div>
