<div>
    <h2 data-translate="feedditApp.post.home.title">Posts</h2>
    <span class="col-md-12 alert alert-danger" ng-show="vm.showNoPostsMessage">
                No posts added yet!
    </span>
    <!--    <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="post.new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-translate="feedditApp.post.home.createLabel">
                            Create new Post
                        </span>
                    </button>
                </div>
            </div>
        </div>-->
    <br/>
    <br/>

    <div class="table-responsive" ng-show="vm.posts.length > 0">
        <td>
            <button ng-disabled="!vm.isAnyCheckboxSelected" class="btn btn-danger" ng-click="vm.deletePostsByIdArray()">
                Delete selected
            </button>
            <br/>
            <br/>
        </td>
        <table class="jh-table table">
            <tbody>
            <tr ng-repeat="post in vm.posts track by post.id">

                <td>{{post.numberOfUpvotes}}</td>
                <td>
                    <a href="{{post.postURL}}">{{post.headline}}</a>
                    <br/>
                    {{post.authorName}}
                </td>
                <td>
                    <input type="checkbox" ng-click="vm.addToIdArray(post.id)">
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
